@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Chapter 6 Homework - Working with Controllers and Routing by Jake Soulinthavong.</p>
</div>
